/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Barlow";
}

img {
  width: 100%;
  width: auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 44px 0;
}

.site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__logo-link {
  display: inline-block;
  max-width: 150px;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item:not(:last-child) {
  margin-right: 33px;
}

.site-header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #333D4B;
}

.hero__block {
  padding: 117px 0;
  background-repeat: no-repeat;
  background-image: url("../img/coffee.png");
  border-radius: 10px;
  margin-bottom: 136px;
}

.hero__content-block {
  padding: 0 85px;
}

.hero__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
  margin-bottom: 32px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  max-width: 445px;
  margin-bottom: 65px;
}

.hero__btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #66D2CF;
  border-radius: 6px;
  padding: 15px 31px;
  display: inline-block;
}

.collection__block {
  max-width: 1111px;
  margin: 0 auto;
  padding: 126px 0;
  background-repeat: no-repeat;
  background-image: url("../img/collection.png");
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection__item {
  text-align: center;
}

.collection__item:not(:last-child) {
  margin-right: 30px;
}

.collection__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.collection__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.collection__coffee {
  max-width: 253px;
}

.choose {
  padding-bottom: 200px;
}

.choose__top {
  text-align: center;
  background: #293039;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 86px;
}

.choose__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.choose__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  max-width: 540px;
  margin: 0 auto;
}

.choose__list {
  max-width: 1111px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose__item {
  padding: 72px 48px 48px 48px;
  background: #0E8784;
  border-radius: 8px;
  max-width: 350px;
  text-align: center;
}

.choose__inner-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.choose__inner-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.choose__item:nth-child(1)::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
  background-repeat: no-repeat;
  background-image: url("../img/choose.png");
  display: inline-block;
}

.choose__item:nth-child(2)::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
  background-repeat: no-repeat;
  background-image: url("../img/choose1.png");
  display: inline-block;
}

.choose__item:nth-child(3)::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
  background-repeat: no-repeat;
  background-image: url("../img/choose2.png");
  display: inline-block;
}

.choose__top {
  position: relative;
}

.choose__emty {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  background-color: #293039;
  height: 235px;
  z-index: -1;
}

.works__box {
  max-width: 1111px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.works__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}

.works__line-block {
  background-color: #fDD6BA;
  height: 2px;
  max-width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.works__span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FEFCF7;
  border: 2px solid #0E8784;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.works__list-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.works__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  max-width: 255px;
  margin-bottom: 42px;
}

.works__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  max-width: 285px;
}

.works__btn {
  background: #66D2CF;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 31px;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home {
  background-color: #2C343E;
  max-width: 1320px;
  margin: 0 auto;
  padding: 47px 85px;
  margin-bottom: 80px;
}

.home__img {
  max-width: 236px;
}

.home__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 103px;
}

.home__item {
  margin-left: 33px;
}

.home__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.home__link:hover {
  color: #ffffff;
  cursor: pointer;
}

.home__radio-bloc:hover {
  color: #FDD6BA;
}

.home__lebel-faceboock {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../../img/faceboock.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.radio__checbox:checked + .home__lebel-faceboock {
  background-color: #FDD6BA;
}

.home__lebel-twitter {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/twitter.png");
  margin-left: 20px;
  cursor: pointer;
}

.radio__checbox:checked + .home__lebel-twitter {
  background-color: #FDD6BA;
}

.home__lebel-instagram {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/instagram.png");
  margin-left: 20px;
  cursor: pointer;
}

.radio__checbox:checked + .home__lebel-instagram {
  background-color: #FDD6BA;
}

.radio__checbox {
  margin-left: 20px;
}/*# sourceMappingURL=main.css.map */